 <!-- <app-withinpreconfirm [result]="myform" (clicked)="onClicked($event)"></app-withinpreconfirm> 
 -->
 <!-- <app-withinpreconfirm [result]="myform.value" ></app-withinpreconfirm> 
{{myform.amount}},-->
<div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="lead">Transfer Within My Account Preconfirm </span></div>
        <div class="container">
        <div class="col-lg-7"> 
            <h4 style="color: green; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                Your transaction completed successfully. The Transaction Reference Number is {{myform.txnRefNo}}
              </h4>

          <div class="form-group">
            <label class="col-lg-3 control-label">From Account </label>
              <div class="col-lg-8">
                <span >{{myform.fromAccount}}</span> 
              </div>
          </div>

        <div class="row"></div>

        <div class="form-group">
          <label class="col-lg-3 control-label">To Account </label>
            <div class="col-lg-8">
              <span >{{myform.toAccount}}</span> 
            </div>
        </div>

        <div class="row"></div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Amount </label>
            <div class="col-lg-8">
              <span >{{myform.amount | number:'1.2-2'}}</span> 
            </div>
        </div>

        <div class="row"></div>

        <div class="row"></div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Sell Rate </label>
              <div class="col-lg-8">
                <span >{{myform.sellRate | number:'1.2-2'}}</span> 
              </div>
        </div>

        <div class="row"></div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Buy Rate </label>
              <div class="col-lg-8">
                <span >{{myform.buyRate | number:'1.2-2'}}</span> 
              </div>
        </div>
        
        <div class="row"></div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Transaction Date </label>
              <div class="col-lg-8">
                <span >{{myform.transDate}}</span> 
              </div>
        </div>
        
        <div class="row"></div>

        <div style="text-align: center">
           <button type="button" class="btn btn-success" (click)="returnHome();">Ok</button> 
        </div>
        </div>
      </div>
  </div>
</div>