<div class="col-lg-9" *ngIf="isLoggedIn$ | async; else elseTemplate">
<!-- <div class="panel panel-default" *ngIf="isLoggedIn$ | async; else elseTemplate">
<div class="panel-heading"><span class="lead">Dashboard </span></div>
<div class="tablecontainer" >
  <table class="table table-striped table-bordered table-hover table-responsive table-row">
    <thead>
        <tr>
          <th class="hidden">ID</th>
          <th style="width: 10%">No</th>
          <th style="width: 20%">FirstName</th>
          <th style="width: 20%">LastName</th>
          <th style="width: 50%">Email</th>
        </tr>
      </thead>
     <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td class="hidden">{{user.id}}</td>
          <td >{{i+1}}</td>
          <td >{{user.firstName}}</td>
          <td >{{user.lastName}}</td>
          <td >{{user.email}}</td>
          <td ><a (click)="onSelect(user);" 
            style="cursor: pointer;">View</a></td>
        </tr>
     </tbody>

 </table>
</div>
</div> 


<button *ngIf="isLoggedIn$ | async" type="button" #myButton class="btn btn-secondary" (click)="getUserDetails();">Users</button>
-->

<div *ngIf="userDetails" >
  <div class="panel panel-default">
    <div class="panel-heading"><span class="lead">User Details </span></div>
    <div class="tablecontainer">
      <table class="table table-striped table-bordered table-hover table-responsive table-row">
        <thead>
            <tr>
              <th class="hidden">ID</th>
              <th style="width: 10%">No</th>
              <th style="width: 20%">First Name</th>
              <th style="width: 20%">Last Name</th>
              <th style="width: 50%">Email</th>
              <th style="width: 50%">Gender</th>
              <th style="width: 50%">City</th>
              <th colspan="3" style="width: 10%; text-align: center;">Action</th>
            </tr>
          </thead>
         <tbody>
            <tr *ngFor="let user of userDetails; let i = index">
              <td class="hidden">{{user.id}}</td>
              <td >{{i+1}}</td>
              <td >{{user.firstName}}</td>
              <td >{{user.lastName}}</td>
              <td >{{user.email}}</td>
              <td >{{user.gender.description}}</td>
              <td >{{user.city.description}}</td>
              <td ><a (click)="onSelect(user);"style="cursor: pointer;">View</a></td>
               <td><a (click)="edit(user);"  style="cursor: pointer;">Edit</a></td> 
              <td> <a (click)="delete(user);" style="cursor: pointer;">Delete</a></td>

            </tr>
         </tbody>
    
     </table>
    </div>
  </div>
</div>


<div *ngIf="selectedUser">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="lead">Selected User </span></div>
      <div class="tablecontainer">
        <table class="table table-striped table-bordered table-hover table-responsive table-row">
          <thead>
              <tr>
                <th class="hidden">ID</th>
                <th style="width: 10%">No</th>
                <th style="width: 20%">FirstName</th>
                <th style="width: 20%">LastName</th>
                <th style="width: 50%">Email</th>
              </tr>
            </thead>
          <tbody>
              <tr >
                <td class="hidden">{{selectedUser.id}}</td>
                <td >{{selectedUser.id}}</td>
                <td >{{selectedUser.firstName}}</td>
                <td >{{selectedUser.lastName}}</td>
                <td >{{selectedUser.email}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #elseTemplate>
    <p>No Record found</p>
</ng-template>